h1{
    font-size: 80px;
    margin-top: 300px;
    margin-bottom: -10px;
    animation: titleset 2.5s ease-in-out forwards;
}
@keyframes titleset{
    0%{
        opacity: 0;
        font-size: 10px;
    }
    30%{
        opacity: 1;
        font-size: 80px;
    }
    50%{
        font-size: 80px;
    }
    90%{
        font-size: 10px;
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
h2{
    font-size: 45px;
    animation: titleset2 3.5s ease-in-out;
    margin-top: -60px;
}
@keyframes titleset2{
    0%{
        opacity: 0;
        font-size: 1px;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
body{
    background-image: url("../images/picutre7.jpg");
}