h1{
    font-size: 100px;
    animation: titleset 1s ease-in-out forwards;
    margin-top: -100px;
    margin-bottom: 10px;
    color: white;
}
@keyframes titleset {
    0%{
        font-size: 150px;
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    70%{
        font-size: 150px;
        margin-top: 10px;
    }
    100%{
        font-size: 100px;
        margin-top: 10px;
    }
}
h2{
    font-size: 65px;
    animation: h2set 2s ease-in-out forwards;
    margin-top: 40px;
    color: white;
}
@keyframes h2set{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
h3{
    font-size: 60px;
    animation: h3set 2.5s ease-in-out forwards;
    margin-top: 150px;
    color: white;
}
@keyframes h3set{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.button2-2-1{
    color: orangered;
    background-color: transparent;
    padding: 50px 20px 50px 20px;
    font-size: 80px;
    border-color: orangered;
    border-width: 5px;
    border-style: ridge;
    text-decoration: none;
    transition: all 0.3s ease;
    border: solid;
    animation: buttonset1 1.5s ease-in-out;
    position: relative;
    top: -155px;
    left: -250px;
    font-weight: 800;
}
@keyframes buttonset1{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.button2-2-1:hover{
    background-color: orangered;
    border-color: orangered;
    color: white;
    padding: 50px 20px 50px 20px;
    border-radius: 100px;
    transition: 1s;
}

.button2-2-2{
    color: orangered;
    background-color: transparent;
    padding: 50px 20px 50px 20px;
    font-size: 80px;
    border-color: orangered;
    border-width: 5px;
    border-style: ridge;
    text-decoration: none;
    transition: all 0.3s ease;
    border: solid;
    animation: buttonset2 1.5s ease-in-out;
    position: relative;
    top: -270px;
    left: 250px;
    font-weight: 800;
}
@keyframes buttonset2{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.button2-2-2:hover{
    background-color: orangered;
    border-color: orangered;
    color: white;
    padding: 50px 20px 50px 20px;
    border-radius: 100px;
    transition: 1s;
}

.button2-2-3{
    position: relative;
    background-color: transparent;
    font-weight: 1000;
    padding: 20px 50px 20px 50px;
    font-size: 50px;
    border-radius: 999px;
    border-color: red;
    border-style: solid;
    border-width: 4px;
    color: orangered;
    transition: all 0.3s ease;
    text-decoration:none;
    animation: buttonset3 3s ease-in-out;
    position: relative;
    top: -40px;
}
.button2-2-3:hover{
    background-color: black;
    color:white;
    transition: 0.5s;
}
@keyframes buttonset3{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
body{
    background-image: url("../images/picture4.jpg");
    overflow: hidden;
}

@media screen and (max-width: 730px) {
  body {
    margin: 0;
    background: url("../images/picture4.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    h1{
    font-size: 85px;
    animation: titleset 1s ease-in-out forwards;
    margin-top: -100px;
    margin-bottom: 10px;
    color: white;
}
@keyframes titleset {
    0%{
        font-size: 50px;
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    70%{
        font-size: 90px;
        margin-top: 10px;
    }
    100%{
        font-size: 75px;
        margin-top: 10px;
    }
}
h2{
    font-size: 55px;
    animation: h2set 2s ease-in-out forwards;
    margin-top: 40px;
    color: white;
}
@keyframes h2set{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
h3{
    font-size: 50px;
    animation: h3set 2.5s ease-in-out forwards;
    margin-top: 150px;
    color: white;
}
@keyframes h3set{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.button2-2-1{
    color: orangered;
    background-color: transparent;
    padding: 50px 20px 50px 20px;
    font-size: 45px;
    border-color: orangered;
    border-width: 5px;
    border-style: ridge;
    text-decoration: none;
    transition: all 0.3s ease;
    border: solid;
    animation: buttonset1 1.5s ease-in-out;
    position: relative;
    top: -155px;
    left: -130px;
    font-weight: 800;
}
@keyframes buttonset1{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.button2-2-1:hover{
    background-color: orangered;
    border-color: orangered;
    color: white;
    padding: 50px 20px 50px 20px;
    border-radius: 60px;
    transition: 1s;
}

.button2-2-2{
    color: orangered;
    background-color: transparent;
    padding: 50px 20px 50px 20px;
    font-size: 45px;
    border-color: orangered;
    border-width: 5px;
    border-style: ridge;
    text-decoration: none;
    transition: all 0.3s ease;
    border: solid;
    animation: buttonset1 1.5s ease-in-out;
    position: relative;
    top: -228px;
    left: 130px;
    font-weight: 800;
}
@keyframes buttonset2{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.button2-2-2:hover{
    background-color: orangered;
    border-color: orangered;
    color: white;
    padding: 50px 20px 50px 20px;
    border-radius: 60px;
    transition: 1s;
}

.button2-2-3{
    position: relative;
    background-color: transparent;
    font-weight: 1000;
    padding: 20px 50px 20px 50px;
    font-size: 30px;
    border-radius: 999px;
    border-color: red;
    border-style: solid;
    border-width: 4px;
    color: orangered;
    transition: all 0.3s ease;
    text-decoration:none;
    animation: buttonset3 3s ease-in-out;
    position: relative;
    top: -100px;
}
.button2-2-3:hover{
    background-color: black;
    color:white;
    transition: 0.5s;
}
@keyframes buttonset3{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
}